In [0]:
import pandas as pd
data = pd.read_csv("https://data.cityofnewyork.us/resource/2r9r-m6j4.csv?$limit=50000")

## Import the data frame with pandas import pd. I've imported all rows as there are only 100 rows.

In [40]:
data.head(100)

   survey  ... upper95_ci
0     CHS  ...       84.6
1     CHS  ...       84.6
2     CHS  ...       11.4
3     CHS  ...       11.4
4     CHS  ...        NaN
..    ...  ...        ...
95    CHS  ...       72.0
96    CHS  ...       78.9
97    CHS  ...       78.9
98    CHS  ...       67.6
99    CHS  ...       67.6

[100 rows x 6 columns]

### The data frame has 6 columns including the following: 
####survey of New York City adults administered as the Community Health Survey
#### Question asked
#### year of administration
#### prevalence as the percent of New York City adults who have the characteristic described
#### Lower95_ci as the lower bound of the confidence interval within which 95% of New York City adults would fall within the upper and lower bound of this confidence interval
#### Upper95_ci as the upper bound of the confidence interval within which 95% of New York City adults would fall within the upper and lower bound of this confidence interval

## Use data.describe to look at the details of the data imported showing counts and confidence intervals.

In [41]:
data.describe(percentiles = None, include = None, exclude = None)

              year  prevalence  lower95_ci  upper95_ci
count   100.000000   96.000000   96.000000   96.000000
mean   2012.000000   41.454167   39.895833   43.010417
std       1.421338   27.862187   27.550619   28.099981
min    2010.000000    9.600000    8.700000   10.500000
25%    2011.000000   16.800000   15.475000   18.300000
50%    2012.000000   24.450000   23.100000   25.750000
75%    2013.000000   68.700000   66.475000   70.850000
max    2014.000000   86.200000   85.200000   87.200000

### Look for counts, null, and dtype for each column.

In [43]:
data.info(null_counts=None, max_cols=None, verbose=None, buf=None,)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
survey        100 non-null object
question      100 non-null object
year          100 non-null int64
prevalence    96 non-null float64
lower95_ci    96 non-null float64
upper95_ci    96 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.8+ KB

### Make a copy of the dataframe so we can then remove duplicate rows and not affect original dataframe.

In [45]:
data1=data.copy(deep=True)
data1.head()

  survey                         question  ...  lower95_ci  upper95_ci
0    CHS        Health Insurance Coverage  ...        82.0        84.6
1    CHS        Health Insurance Coverage  ...        82.0        84.6
2    CHS  Did not get needed medical care  ...         9.4        11.4
3    CHS  Did not get needed medical care  ...         9.4        11.4
4    CHS               No Personal Doctor  ...         NaN         NaN

[5 rows x 6 columns]

Remove duplicate rows

In [0]:
data1= data1.drop_duplicates(subset=None, keep='first', inplace=False)

#### We will slice and select out three columns to look at: year, prevalence and question.

In [38]:
data.iloc[:,[1,2,3]]

                                             question  year  prevalence
0                           Health Insurance Coverage  2010        83.3
1                           Health Insurance Coverage  2010        83.3
2                     Did not get needed medical care  2010        10.3
3                     Did not get needed medical care  2010        10.3
4                                  No Personal Doctor  2010         NaN
..                                                ...   ...         ...
95  Colon cancer screening, adults age 50+ (colono...  2014        69.9
96  Self-reported Health Status (excellent/very go...  2014        77.8
97  Self-reported Health Status (excellent/very go...  2014        77.8
98  Flu shot in last 12 months, adults ages 65+ (n...  2014        64.2
99  Flu shot in last 12 months, adults ages 65+ (n...  2014        64.2

[100 rows x 3 columns]

### We have a long frame, which can be switched to wide. Use the pivot to do this

In [58]:
years_by_question = data1.pivot(index='year', columns='question', values=None)
years_by_question

                 survey  ...                       upper95_ci
question Binge Drinking  ... Smoking Status (current smokers)
year                     ...
2010                CHS  ...                             15.3
2011                CHS  ...                             16.3
2012                CHS  ...                             16.8
2013                CHS  ...                             17.2
2014                CHS  ...                             14.9

[5 rows x 40 columns]

### We can switch the column header and index with pivot again.

In [60]:
questions_by_year = data1.pivot(index='question', columns='year', values=None)
questions_by_year

                                                   survey       ... upper95_ci
year                                                 2010 2011  ...       2013  2014
question                                                        ...
Binge Drinking                                        CHS  CHS  ...       19.4  17.7
Colon cancer screening, adults age 50+ (colonos...    CHS  CHS  ...       71.0  72.0
Did not get needed medical care                       CHS  CHS  ...       12.2  10.5
Drinks 1 or more sugar-sweetened beverages per day    CHS  CHS  ...       24.6  23.8
Flu shot in last 12 months, adults ages 65+ (no...    CHS  CHS  ...       69.8  67.6
Health Insurance Coverage                             CHS  CHS  ...       80.3  87.2
No Personal Doctor                                    CHS  CHS  ...       20.3  16.7
Obesity                                               CHS  CHS  ...       24.7  26.0
Self-reported Health Status (excellent/very goo...    CHS  CHS  ...       78.0  78.9
Smoking Status (current smokers)                      CHS  CHS  ...       17.2  14.9

[10 rows x 20 columns]

In [61]:
data1.describe(include=['object', 'bool'])

       survey                                           question
count      50                                                 50
unique      1                                                 10
top       CHS  Colon cancer screening, adults age 50+ (colono...
freq       50                                                  5

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
sns.scatterplot(x='Obesity', y='prevalence', hue=2010, style=None, size=None, data=None, palette=None)

ValueError: ignored